@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


.article-container-2 {
    background-color: #dfdee4;
    /* color: #dfdee4; */
    width: 69.3359375vw;
    height: auto;
    border: 2px black solid;
    box-shadow: 0px 0px 11px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
}

#article-logo-background{
    height: 100px;
    width: 100px;
    outline: 5px solid black;
    border-radius: 50%;
    padding: 2px;
    margin: 40px 0px;;
}

.article-logo-img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    /* height: 100px;
    width: 100px;
    outline: 5px solid black;
    border-radius: 50%;
    margin: 40px 0px; */
}

.heading-and-byline {
    margin-bottom: 30px;
}

.heading-and-byline h1 {
    margin-bottom: 10px;
    font-size: 1.75rem;
}

.hr-2 {
    width: 90%;
    margin-bottom: 30px;
}

.article-content {
    font-size: 1.25rem;
    line-height: 35px;
    margin: 0% 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-content-image-div {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    position: relative;
}

.read-similar-articles-heading {
    margin-bottom: 60px;
}

#edit {
    position: absolute;
    right: 10px;
    top: 50px;
}

#delete {
    position: absolute;
    right: 10px;
    top: 10px;
}

.comments-and-morearticles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.comment-section {
    width: calc(1021px - 350px);
}

.article-showcase-2 {
    display: grid;
    grid-template-columns: 1;
    grid-row-gap: 60px;
    justify-content: center;
    margin-bottom: 40px;
}

.new-size{
    width: 17.920572916666664vw;
    height: 40.79088471849866vh;
}

.write-comment {
    padding-right: 5px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #a2a1a2;
    margin-bottom: 30px;
}

.image-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    width: 93.4px;
    max-width: 93.4px;

}

.user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: 2px solid #a2a1a2;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.username {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

.write-a-comment {
    resize: inherit;
    width: 564px;
    padding: 5px;
    height: 70px;
    background-color: white;
    font-family: var(--content-font) !important;
    font-size: 16px;
    border: 2px solid #a2a1a2;
    margin-top: 8px;
    margin-bottom: 0px;
}

.comment-buttons {
    display: flex;
    justify-content: flex-end;
}

.heading-and-byline > div {
    text-align: center;
}

.cancel-comment {
    margin-bottom: 5px;
    background-color: #414141;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 15px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s;

}

.post-comment {
    margin-bottom: 5px;
    background-color: #560000;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 15px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s;


}

.smaller-font{
    font-size: 1.25rem;
}

.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    height: fit-content;
    transition: 0.5s;
}

.active{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.like-button-container{
    margin-top: 6px;
    margin-left: 30px;
    height: fit-content;
    border-radius: 50%;
}

.comments-and-likes-count{
    display: flex;
}

.auto-height{
    height: auto;
    pointer-events: none;
}eading-and-byline{
    margin-bottom: 30px;
}

.heading-and-byline h1{
margin-bottom: 10px;
font-size: 1.75rem;
}

.hr-2{
    width: 90%;
    margin-bottom: 30px;
}


.article-content img{
    object-fit: contain;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

#first_half, #second_half{
    margin-bottom: 30px;
}

.read-similar-articles-heading{
    margin-bottom: 60px;
}

@media screen and (max-width:1510px) {
    .comments-and-morearticles {
        padding: 0px;
    }
    #name-error{
        right: 9%;
    }
    #email-error{
        right: 21.5%;
    }
    #password-error{
        right: 6.5%;
    }
}

@media screen and (max-width:1470px) {
    .comments-and-morearticles {
        padding-left: 20px;
    }
    .media-query{
        font-size: 1.75rem;
    }
    .write-a-comment{
        width: 500px;
    }
    .write-comment{
        width: 600px;
    }
    #name-error{
        right: 4.5%;
    }
    #email-error{
        right: 19%;
    }
    #password-error{
        right: 2.5%;
    }

}

@media screen and (max-width:1350px) {
    .article-text p {
        font-size: 1.25rem;
    }
    .comments-and-morearticles {
        padding-left: 0px;
    }

    .article {
        height: 290px;
    }

    .article-text {
        margin-top: 70px;
    }

    .topic-name {
        width: 16%;
    }

    hr {
        width: 98%;
    }

    .article-content {
        margin: 0% 12%;
    }
}

@media screen and (max-width:1310px) {
    .comments-and-morearticles {
        flex-direction: column;
        align-items: center;
    }
    .media-query{
        font-size: 1.75rem;
    }
    #comments-heading{
        margin-bottom: 20px;
    }
    .comment-section{
        width: auto;
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .article-showcase-2{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1250px) {
    #intro-text {
        width: 70%;
    }

    .topic-name span {
        font-size: 1rem;
    }

    hr {
        width: 98%;
    }

    .article {
        height: 270px;
        width: 250px;
    }

    .contact-form {
        width: 70%;
    }

    .article-content {
        margin: 0% 11%;
    }

    .article-showcase {
        max-width: 800px
    }
    #email-error{
        right: 16%;
    }
}


@media screen and (max-width: 1190px) {
    .article-showcase {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 40px;
    }
    .article-showcase-2 {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 40px;
    }
    .thr{
        display: none;
    }

    .article {
        width: 300px;
        height: 300px;
    }
    #name-error{
        right: 3%;
    }
    #password-error{
        right: 1.5%;
    }

}


@media screen and (max-width: 1100px) {
    .topic-names {
        flex-direction: column;
        align-items: center;
    }

    .first {
        justify-content: center;
        margin-bottom: 40px;
    }

    .last {
        justify-content: center;
    }

    .removable {
        display: none;
    }

    .modified {
        margin: -5px 24px;
    }

    .article-content {
        margin: 0% 10%;
    }



}

@media screen and (max-width: 1000px) {
    .article {
        width: 270px;
        height: 270px;
    }

    .view-all-articles {
        top: 2%;
        font-size: 0.9rem;
    }

    .article-content {
        margin: 0% 9%;
    }
    #name-error{
        right: 0.5%;
    }
    #password-error{
        right: -1%;
    }
}

@media screen and (max-width: 950px) {
    .article {
        height: 270px;
        width: 250px;
    }

    .modified {
        margin: -5px 25px;
    }

    .article-container-2 {
        width: 90vw;
    }

    .article-content {
        margin: 0% 12%;
    }

    .Page-name {

        margin-left: 15px;
    }
    #name-error{
        right: -2%;
    }
    #email-error{
        right: -1%;
    }
    #password-error{
        right: -1%;
    }

}


@media screen and (max-width: 830px) {
    .Page-name {
        font-size: 1.75rem;
        margin-left: 15px;
    }

    .nav-links {
        padding: 20px 0px;
        font-size: 1rem;
    }

    .logo {
        height: 50%;
        margin-left: 0px;
    }

    .intro-wrap {
        width: 90vw;
    }

    .article-container {
        width: 90vw;
    }
    .article-showcase{
        grid-column-gap: 20px;

    }
    .article {
        width: 270px;
        height: 300px;
    }
    .modified {
        margin: -5px 25px;
    }

    .contact-me-container {
        width: 90vw;
    }

    .article-content {
        margin: 0% 8%;
    }

}

@media screen and (max-width: 720px) {

    .nav-links {
        --position: -102%;
        height: fit-content;
        width: 100%;
        position: absolute;
        top: 100px;
        right: var(--position);
        background-color: #560000;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.6s;
        box-shadow: -2px 2px 4px black;
        padding: 20px 0px;
    }

    li {
        padding-top: 20px;
        font-size: 1.25rem;
        color: #dfdee4;
        font-weight: bold;
    }

    .toggleBtn {
        display: inline;
        margin-left: 20%;
        margin-right: 10px;
    }

    .Page-name {
        font-size: 1.5rem;
        margin-left: 0px;
    }

    .intro-wrap {
        height: 500px;
    }

    #intro-heading {
        margin: 100px 0px 34px 0px;
    }

    .button button {
        margin-top: 30px;

    }

    .modified {
        margin: -5px 26px;
    }

    .exception-showcase {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;

    }

    .exception {
        margin-bottom: 60px;
        height: 300px;
        width: 20.920572916666664vw
    }

    .article-content {
        margin: 0% 6%;
    }

    .hr-2 {
        width: 98%;
    }
    .article {
        width: 270px;
        height: 270px;
    }
    .article-showcase{
        grid-column-gap: 0px;
    }
    .article-showcase-2{
        grid-row-gap: 0px;
    }

}

@media screen and (max-width: 700px) {
    .article-showcase{
        grid-template-columns: 1fr;
    }
    .article-showcase-2{
        grid-template-columns: 1fr;
    }
    .write-a-comment{
        max-width: 480px;
    }
    .write-comment{
        width: fit-content;
        padding-right: 5px;
    }
    .article{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .write-a-comment{
        max-width: 400px;
    }
}

@media screen and (max-width: 620px) {
    .logo {
        height: 40%;
        margin-right: 20px;
    }

    .toggleBtn {
        display: inline;
        margin-left: 20%;
        margin-right: 10px;
    }

    .Page-name {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    #intro-text {
        width: 65%;
    }

    .next {
        transform: translate(-50%, -50%);
    }

    .prev {
        transform: translate(50%, -50%);
    }

    .article-showcase {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

    }

    .modified {
        margin: -5px 27px;
    }

    .view-all-articles {
        top: 1.25%;
        font-size: 0.9rem;
    }

    .article-content {
        margin: 0% 3%;
    }
}

@media screen and (max-width: 560px) {
    .write-a-comment{
        max-width: 360px;
    }
}

@media screen and (max-width: 525px) {
    .logo {
        display: none;
    }

    .toggleBtn {
        display: inline;
        margin-left: 20%;
        margin-right: 10px;
    }

    .Page-name {
        font-size: 1.5rem;
        margin-left: 0px;
    }

    .article-content {
        margin: 0% 1%;
    }

    .nav-links {
        --position: -102%;
        height: fit-content;
        width: 100%;
        position: absolute;
        top: 100px;
        right: var(--position);
        background-color: #560000;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.6s;
        box-shadow: -2px 2px 4px black;
        padding: 20px 0px;
    }

    li {
        padding-top: 20px;
        font-size: 1.25rem;
        color: #dfdee4;
        font-weight: bold;
    }
}

@media screen and (max-width:510px){
    .write-a-comment{
        max-width: 320px;
    }
}

@media screen and (max-width:480px){
    .view-all-articles{
        display: none;
    }
   .write-a-comment{
    max-width: 280px;
   }
    #intro-heading{
        font-size: 1.5rem;
    }
}


@media screen and (max-width:420px){
    .article{
        width: 270px;
        height: 270px;
    }
    .write-a-comment{
        max-width: 240px;
       }
    .vertical-line{
        margin: -5px 20px;
    }
    .topic-name span{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:380px){
    .article{
        width: 250px;
        height: 250px;
    }
    .write-a-comment{
        max-width: 220px;
       }
    .topic-name span{
        font-size: 0.85rem;
    }
}

@media screen and (max-width:350px){
    .article{
        width: 220px;
        height: 250px;
    }
    .browse-articles h2{
        font-size: 1.25rem;
    }
}