@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

:root {
    --content-font: 'Tiro Gurmukhi', sans-serif;
}

#__next{
  overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    position: relative;
    background-color: #414141;
    font-family: var(--content-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
    overflow-x: hidden;
  }
  