.contact-me-container-2 {
    background-color: #dfdee4;
    min-height: 31.5vw;
    /* color: #dfdee4;  */
    width:  69.3359375vw;
    border: 2px black solid;
    box-shadow: 0px 0px 11px black;
    padding: 20px;
    margin: 40px auto 0px auto;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 55%;
}
.write-input {
    width: 100%;
    font-size: 1.25rem;
    outline: none;
    font-family: var(--content-font);
    border-radius: 2px;
    transition: 0.1s;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    border: 2px solid black;

}

textarea{
    height: 180px;
    resize: none;
    border: 2px solid black;
    margin-bottom: 20px;

}

input::placeholder, textarea::placeholder{
    opacity: 0.75;
}

input:focus, textarea:focus{
    outline: 2px solid black;
}

.submit-button{
    background-color: #560000;
    color: white;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.3s;
    z-index: 6;
    cursor: pointer;
    width: 110px;
    height: 40px;
    margin: auto;
}

.submit-button:hover {
    background-color: white;
    color: #560000;
}

.image_upload{
    border: none;
    outline: none;
}

.article_image_preview{
    height: 250px;
    width: 75%;
    margin: 0px auto 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
}

#category{
    width: 29%;
    font-size: 20px;
    margin-bottom: 20px;
}

.logo_display{
    margin: auto;
    width: 100px;
    height: 100px;
    outline: 2px solid;
    border-radius: 50%;
    margin-bottom: 20px;
    background-size: contain;

}